.container-customnavbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1;
  }
  .container-customnavbar.sticky {
    padding: 5px 100px;
    background: #181a21;
  }
  .container-customnavbar .logo {
    position: relative;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 2em;
    transition: 0.6s;
  }
  .container-customnavbar ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-customnavbar ul li {
    position: relative;
    list-style: none;
  }
  .container-customnavbar ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
  }

  .container-customnavbar.sticky .logo,
  .container-customnavbar.sticky ul li a {
    /* color: #000; */
    color: cornflowerblue;
  }
  